<li id="menu-dashboard">
    <a href="{{ site_url('admin/dashboard') }}"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">Dashboard</span></a>
</li>
<li class="mm-dropdown" id="menu-products">
    <a href="javascript:void(0);"><i class="menu-icon fa fa-wrench"></i><span class="mm-text">Game Settings</span></a>
    <ul>
        <li id="submenu-category"><a tabindex="-1" href="{{ site_url('categories') }}"><span class="mm-text">Category</span></a></li>
        <li id="submenu-catalogue"><a tabindex="-1" href="{{ site_url('items') }}"><span class="mm-text">Item</span></a></li>
    </ul>
</li>