<section id="titlebar">
    <!-- Container -->
    <div class="container">

        <div class="eight columns">
            <h2>{{ apps['module'] }}</h2>
        </div>

        <div class="eight columns">
            <nav id="breadcrumbs">
                <ul>
                    <li>You are here:</li>
                    <li><a href="{{ site_url() }}">Home</a></li>
                    <li>{{ apps['module'] }}</li>
                </ul>
            </nav>
        </div>

    </div>
    <!-- Container / End -->
</section>