{%  set config = get_config() %}
{%  set ci = get_instance() %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>CodeIgniter Plus</title>
</head>
<body>
    {% include '_layouts/header.html.twig' %}

    {% block content %}
    {% endblock %}
</body>
</html>